@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-size: 14px; 
  font-family: 'Roboto', sans-serif;
}



.logo {
    margin-left: auto;
    margin-right: auto;
    width: 12.5em;
}

h1 {
color: red;
}

.menu {
  margin-top: 25em;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  text-align: center;
}

.menu a {
  width: 250px;
  font-size: 1.5em;
  padding: 2em;
}

* {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h1 {
  color: red;
}
.center-h2 {
  text-align: center;
  font-weight: bold;
}
.center-bottom {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
form span {
  width: 100px;
}
section {
  display: flex;
  justify-content: space-around;
}
.input-group {
  margin-bottom: 8px;
}
.input-group-text {
  background-color: white;
}
header {
  background-color: white;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
footer {
  margin-top: 130px;
}
footer span {
  margin-bottom: 50px;
}
footer a {
  text-decoration: none;
}
.backLink {
  color: red;
  font-weight: bold;
}
.afterLink {
  color: lightgreen;
  font-weight: bold;
}


